# Ignore Gradle project-specific cache directory
.gradle
gradle.bat
gradle
gradlew

# Ignore Gradle build output directory
build

# Ignore eclipse/vscode config files and directories
.classpath
.project
.settings
bin

# Ignore intellij config files and directories
out
.idea
